---
layout: default
---



<div id="ace-content" class="ace-container-shift">
    <div class="ace-container">

   
       

<!-- .ace-nav-wrap --> 

<!-- <div class="ace-nav-btm"></div> -->
    
   

        <div class="ace-paper-stock">
            <main class="ace-paper clearfix">
                <div class="ace-paper-cont clear-mrg">
                    
                   
                    <!-- START: PAGE CONTENT -->
                    <div class="padd-box clear-mrg">
             
                    <!--  {% include personal.html %} -->
                    {% include resumer_01-basic.html %}

                    {% include resumer_02-profetional.html %}

                    {% include resumer_03-education.html %}

                    {% include resumer_04-experience.html %}

                    {% include resumer_05-certification.html %}

                    {% include resumer_06-personal_project.html %}
                        
                    </div><!-- .padd-box -->
                <!-- END: PAGE CONTENT -->
                </div><!-- .ace-paper-cont -->
            </main><!-- .ace-paper -->
        </div><!-- .ace-paper-stock -->
    </div><!-- .ace-container -->
</div><!-- #ace-content -->
