---
layout: default
---
<div class="row">
  <div class="column side">
    {% include resumer_02-profetional.html %}

                    {% include resumer_03-education.html %}


                    {% include resumer_06-personal_project.html %}
  </div>
  
  <div class="column middle">

                    {% include resumer_04-experience.html %}

                    {% include resumer_05-certification.html %}
</div>
  
  <div class="column side">
    <h2>右侧栏</h2>
    <p>菜鸟教程 - 学的不仅是技术，更是梦想！</p>
  </div>
</div>
